/* .Pen-Size button {
    display: block;
    width: 5%;

}

#increase {
    background-color: chartreuse;
}

#decrease {
    background-color: crimson;
}

.Paint-Pen  {
    position: relative;
    width: auto;
}

.sp-btn {
    position: relative;
    width: auto;
} */